<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.footytipper.predict</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>-lc</string>
        <string>cd __REPO__ &amp;&amp; conda run -n footy-tipper footy-tipper predict</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <!-- Thursday 15:00 local time -->
        <key>Weekday</key>
        <integer>4</integer>
        <key>Hour</key>
        <integer>15</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>__REPO__/logs/predict.log</string>
    <key>StandardErrorPath</key>
    <string>__REPO__/logs/predict.log</string>
    <key>WorkingDirectory</key>
    <string>__REPO__</string>
</dict>
</plist>
